html {
    height: 100%;

}
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

p {
    margin: 0;
}

*{
    font-family: 'Roboto';
}

.descuento {
    background-color: #1CD1B0;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

}

h1 {
    font-family: 'Roboto';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    margin: 0;

}

.titulo-container {
    background-color: #00669F;
    width: 100%;
    padding: 1.5em;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
}

.tarjetas-container {
    display: flex;
    justify-content: space-evenly;
    margin: 154px 32px;

}

.imgRedonda{
    height: 120px;
    width: 120px;
    left: 122px;
    border-radius: 150px;
    position: absolute;
    top: 128px;
    left: 90px;

}
.tarjeta-container {
    width: 300px;
    background-color: #F3F3F3;
    display:flex;
    flex-direction: column;
    position: relative;

}

.centerH {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttom {
    background-color: #00669F;
    color:#F3F3F3;
    text-align: center;
    height: 48px;
    width: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    
}

h3 {
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;

}

.tarjeta-content {
    margin: 3em 1em 3em 1em;
}

.footer {
    background-color: #00669F;
    height: 51px;
    width: 100%;
    font-family: 'Roboto';
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    bottom: 0;
    }
}