*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.nav {
    background-color: #1CD1B0;
    width: 100%;
    height: 23px;
    padding-left: 1rem;

}

.head {
    background-color:  #00669F;
    width: 100%;
    height: 80px;
    color: white;
    display: flex;    
    align-items: center;
}

.nav2 {
    background-color: #001D2D;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav2 p {
    padding: 0.5rem 1rem;
}
.head h1 {
    padding-left: 1rem;
    font-weight: 400;
}

main {
    position: relative;
}

.button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 374px;
    right: 0%;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin: 4rem 2rem;

}

.card{
    width: 300px;
    margin: 1rem;

}

.card-head {
    position: relative;

}

.img-fondo{
    border-radius: 16px 16px 0px 0px;
    height: 193px;
    width: 300px;

}


.foto-perfil {
    width:100px;
    height:100px;
    border-radius:150px;


}

.ubicacion-foto{
    position: absolute;
    top: 133px;
    right: 100px;

}

.like {
    height: 20px;
    

}

.ubicacion-like{
    position: absolute;
    top: 10px;
    left: 10px;

}
.card-main {
    background-color: #F3F3F3;
    padding: 3rem 1rem;


}

.card-main h3 {
    text-align: center;
}

.card-main p {
    padding: 0.5rem;
}

.bottom {
    background-color: #00669F;
    color: white;
    text-align: center;
    padding: 0.5rem 2rem;

}

.ubicacion-bottom {
    display: flex;
    justify-content: center;
    padding-top: 2rem;

}


.footer {
    background-color: #00669F;
    text-align: center;
    color: white;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0%;

}

.icono {
    position: absolute;
    right: 1rem;
    padding-right: 0.5rem;

} 